.equation_input {
    padding: 8px 40px 8px 12px;
    border: 1px solid gray;
    display: inline-block;
    width: 515px;
    height: 20px;
    line-height: 20px;
    cursor: text;
}

.cursor {
    height: 20px;
    width: 0.5px;
    display: inline-block;
    background: black;
    opacity: 0;
    animation: blink 0.6s steps(2, end) infinite alternate;
}

var {
    height: 30px;
    width: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 8px;
    position: relative;
    bottom: 8px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}